{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'product_upload.spreadsheet.select_importer_page_headline' | trans %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'product_upload.spreadsheet.select_importer_box_headline' | trans } %}
        {% block widget_content %}
            <div class="gray-bg wrapper-content">
                <h4>{{ 'product_upload.spreadsheet.select_importer_description_headline' | trans }}</h4>

                <p>{{ 'product_upload.spreadsheet.select_importer_description_text' | trans }}</p>
            </div>
            {% block form %}
                {{ form_start(form) }}

                {{ form_row(form.sheetUrl) }}


                <input type="submit" class="btn btn-create safe-submit" value="{{ 'Select spreadsheet' | trans }}"/>

                {{ form_end(form) }}
            {% endblock %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/import-process-gui.css') }}" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/import-process-gui.js') }}"></script>
{% endblock %}

